BODY {
	FONT-SIZE: 12px; MARGIN: 0px auto; FONT-FAMILY: ו, Helvetica, sans-serif; BACKGROUND-COLOR: #99FFFF; TEXT-ALIGN: center
}
DIV {
	MARGIN: 0px 0px
}
A:link {
	COLOR: #0000ff; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0000ff; TEXT-DECORATION: none
}
A:hover {
	COLOR: #990000; TEXT-DECORATION: none
}
A:active {
	COLOR: #990000; TEXT-DECORATION: none
}
#main {
	MARGIN-TOP: 0px; FLOAT: left; MARGIN-LEFT: 0px; WIDTH: 1003px
}
#banner {
	HEIGHT: 159px
}
#info {
	MARGIN-TOP: 0px; MARGIN-LEFT: 0px; WIDTH: 1003px; HEIGHT: 44px
}
#infotable {
	BORDER-RIGHT: medium none; BORDER-TOP:medium none; MARGIN-TOP: 0px; MARGIN-LEFT: 0px; BORDER-LEFT: medium none; WIDTH: 1003px; BORDER-BOTTOM: medium none; HEIGHT: 44px; TEXT-ALIGN: left
}
#left {
	BACKGROUND: url(../images/left-center-bg1.jpg); FLOAT: left; WIDTH: 236px; HEIGHT: 852px
}
#center {
	MARGIN-TOP: 0px; FLOAT: left; MARGIN-LEFT: 0px; OVERFLOW: hidden; WIDTH: 17px; HEIGHT: 852px
}
#right {
	MARGIN-TOP: 0px; FLOAT: left; OVERFLOW: hidden; WIDTH: 750px
}
#inv {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; MARGIN-TOP: 0px; MARGIN-LEFT: 0px; BORDER-LEFT: medium none; WIDTH: 236px; BORDER-BOTTOM: medium none; TEXT-ALIGN: left
}
#center-table {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; MARGIN-TOP: 0px; MARGIN-LEFT: 0px; BORDER-LEFT: medium none; WIDTH: 17px; BORDER-BOTTOM: medium none; TEXT-ALIGN: left
}
#right-table {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; MARGIN-TOP: 0px; MARGIN-LEFT: 0px; OVERFLOW: hidden; BORDER-LEFT: medium none; WIDTH: 750px; BORDER-BOTTOM: medium none; TEXT-ALIGN: left
}
#flash {
	MARGIN-LEFT: 20px; WIDTH: 704px; HEIGHT: 78px; BACKGROUND-COLOR: #cccccc
}
#foot {
	MARGIN-TOP: 0px; BACKGROUND: url(../images/bottom2.jpg); FLOAT: left; OVERFLOW: hidden; WIDTH: 1003px; HEIGHT: 74px; TEXT-ALIGN: center
}
#foot_table {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; MARGIN-TOP: 25px; BORDER-LEFT: medium none; WIDTH: 600px; BORDER-BOTTOM: medium none; HEIGHT: 40px; TEXT-ALIGN: left
}
#wlkc {
	MARGIN-TOP: 0px; MARGIN-LEFT: 30px; VERTICAL-ALIGN: top; WIDTH: 180px; HEIGHT: 100px; TEXT-ALIGN: left
}
#xxzy {
	MARGIN-TOP: 0px; MARGIN-LEFT: 30px; VERTICAL-ALIGN: top; WIDTH: 180px; HEIGHT: 100px; TEXT-ALIGN: left
}
#jlsq {
	MARGIN-TOP: 0px; MARGIN-LEFT: 30px; VERTICAL-ALIGN: top; WIDTH: 180px; HEIGHT: 120px; TEXT-ALIGN: left
}
#jxhd {
	MARGIN-TOP: 5px; MARGIN-BOTTOM: 3px; MARGIN-LEFT: 30px; VERTICAL-ALIGN: top; WIDTH: 180px; HEIGHT: 120px; TEXT-ALIGN: left
}
#xzzx {
	MARGIN-TOP: 5px; MARGIN-LEFT: 30px; VERTICAL-ALIGN: top; WIDTH: 180px; HEIGHT: 50px; TEXT-ALIGN: left
}
#yqlj {
	MARGIN-TOP: 10px; MARGIN-LEFT: 30px; VERTICAL-ALIGN: top; WIDTH: 180px; HEIGHT: 43px; TEXT-ALIGN: left
}
#xtgg {
	MARGIN-TOP: 10px; MARGIN-LEFT: 30px; WIDTH: 370px; HEIGHT: 150px
}
#kc-table {
	MARGIN-LEFT: 20px; VERTICAL-ALIGN: top; WIDTH: 700px; HEIGHT: 500px; TEXT-ALIGN: left
}
#note {
	MARGIN-TOP: 3px; FONT-SIZE: 14px; MARGIN-LEFT: 30px; WIDTH: 220px; HEIGHT: 140px
}
.text1 {
	MARGIN-TOP: 8px; FONT-SIZE: 13px; MARGIN-LEFT: 5px; COLOR: #ffffff; HEIGHT: 20px
}
.left1 {
	VERTICAL-ALIGN: top; TEXT-ALIGN: left
}
.no2 {
	HEIGHT: 7px
}
.dian {
	VERTICAL-ALIGN: middle; WIDTH: 20px; HEIGHT: 11px; TEXT-ALIGN: center
}
.text3 {
	FONT-SIZE: 12px; WIDTH: 150px; HEIGHT: 11px
}
.text4 {
	FONT-SIZE: 12px; HEIGHT: 11px
}
.xtgg1 {
	VERTICAL-ALIGN: middle; WIDTH: 20px; HEIGHT: 17px; TEXT-ALIGN: center
}
.xtgg2 {
	FONT-SIZE: 12px; VERTICAL-ALIGN: middle; WIDTH: 340px; HEIGHT: 17px; TEXT-ALIGN: left
}
.more {
	BORDER-RIGHT: medium none; BORDER-TOP: medium none; FONT-SIZE: 12px; BORDER-LEFT: medium none; BORDER-BOTTOM: medium none; TEXT-ALIGN: right
}
.kc-tupian {
	WIDTH: 89px; HEIGHT: 107px
}
.kc-wenzi {
	WIDTH: 190px; HEIGHT: 107px
}
.kc-kong {
	WIDTH: 135px; HEIGHT: 107px
}
.kc-wz-table {
	MARGIN-TOP: 5px; MARGIN-LEFT: 5px; WIDTH: 170px; HEIGHT: 100px
}
.biaoti {
	FONT-SIZE: 12px; WIDTH: 170px; COLOR: #ff0000; HEIGHT: 15px
}
.wenzi-1 {
	FONT-SIZE: 12px; VERTICAL-ALIGN: middle; WIDTH: 170px; TEXT-INDENT: 2em; LINE-HEIGHT: 150%; HEIGHT: 65px
}
.gengduo {
	FONT-SIZE: 12px; VERTICAL-ALIGN: middle; TEXT-ALIGN: right
}
.fenge {
	WIDTH: 279px; HEIGHT: 1px
}
.note1 {
	FONT-SIZE: 12px; WIDTH: 170px; HEIGHT: 15px
}
.note2 {
	FONT-SIZE: 12px; WIDTH: 50px; HEIGHT: 15px
}
.note3 {
	FONT-SIZE: 12px; HEIGHT: 5px
}
.note4 {
	FONT-SIZE: 12px; BACKGROUND: url(../images/dian.jpg) no-repeat left 50%; TEXT-INDENT: 1em; HEIGHT: 15px
}
.note6 {
	FONT-SIZE: 12px; TEXT-INDENT: 1em; HEIGHT: 15px
}
.note5 {
	FONT-SIZE: 12px; HEIGHT: auto; TEXT-ALIGN: right
}
.blue {
	FONT-SIZE: 13px; COLOR: #0000ff
}
.rad {
	FONT-SIZE: 13px; COLOR: #ff0000
}
.foot_text {
	FONT-SIZE: 12px; COLOR: #333333; HEIGHT: 20px; TEXT-ALIGN: center
}
.guest_1 {
	VERTICAL-ALIGN: bottom; HEIGHT: 25px; TEXT-ALIGN: center
}
.guest_2 {
	FONT-SIZE: 13px; HEIGHT: 25px; TEXT-ALIGN: right
}
